---
import ButtonGroup, {
  type ButtonIcon,
  type ButtonType,
} from '@components/molecules/ButtonGroup.astro';

export type { ButtonIcon, ButtonType };

export interface Props {
  title?: string;
  buttons?: ButtonType[];
  class?: string;
}

const { title, buttons = [], class: className = '' } = Astro.props;
---

<div class:list={['mx-auto max-w-7xl px-4 sm:px-6 lg:px-8', className]}>
  {
    title && (
      <div class="mb-12 text-center">
        <h2 class="mb-4">{title}</h2>
      </div>
    )
  }

  {buttons.length > 0 && <ButtonGroup buttons={buttons} />}
</div>
